<!DOCTYPE html>
<html>
<head>
<!-- <script type="text/javascript" src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script> -->
<!--<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>-->
<!--    <script type="text/javascript" src="https://static.runoob.com/assets/qrcode/qrcode.min.js"></script>-->
<script type="text/javascript" src="./js/qrcode.min.js"  rel="stylesheet"></script>
<script src="./js/jquery.min.js"  rel="stylesheet"></script>
<script src="./js/myutils.js"  rel="stylesheet"></script>
</head>
<body>

<h1>测试数据</h1>

<p>点击按钮触发复制到剪贴板方法</p>

<button onclick="myFunction()">点击我</button></br>
<button id="btn1">随机人名</button></br>
<button id="btn2">随机身份证</button></br>
<button id="btn3">随机手机号</button></br>
<button id="btn4">随机油站名称</button></br>
<button id="btn5">随机油站地址</button></br>
<button id="btn6">随机公司名称</button></br>
<button id="btn7">随机统一社会信用代码</button></br>
<button id="btn8">随机工商注册号</button></br>
<button id="btn9">随机随机数</button></br>
<button id="btn10">随机批示意见</button></br>
<input id="input1" name="test" type="text"/><button id="btnRandomTime">随机时间戳</button><button id="btnRandomDate">随机日期</button><button id="btnRandomNumber">随机随机数</button></br>
<input id="input2" name="test" type="text" value='111111q'/><button id="commonCopy">常用复制</button><br />
<p>输出:</p>
<p id="demo"></p>
二维码:<input id="inputQrContent" type="text" value="请输入二维码内容" style="width:80%" /><br />
<div id="creatQrCode" style="width:100px; height:100px; margin-left:25px; margin-top:15px; margin-bottom:200px;"></div>

<script>

function myFunction() {
    alert('是否电脑端打开' + IsPC());
  <!-- document.getElementById("demo").innerHTML = "Hello World"; -->
 <!-- var date= new Date().format("yyyy-MM-dd hh:mm:ss"); -->
	<!-- var date = new Date(); -->
	<!-- const formatDate = (date)=>{ -->
	<!-- let formatted_date = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear() -->
	 <!-- return formatted_date; -->
	<!-- } -->
	<!-- console.log(formatDate(date)) -->
<!-- dateFormat("YYYY-mm-dd HH:MM", date) -->
  // $("#demo").append(dateFormat("YYYY-mm-dd HH:MM:SS")+"内容:   "+'<br/>');
  <!-- $("#demo").empty(); -->

}

// $(function () {});
 //随机人名
$("#btn1").click(function(){
	outCopyStr(getName());
});

//随机身份证
$("#btn2").click(function(){
	outCopyStr(getIdcard());
});
// 随机手机号
$("#btn3").click(function(){
	outCopyStr(randomPhoneNumber());
});
// 随机油站名称
$("#btn4").click(function(){
    outCopyStr(randomOilDepots());
});
//随机油站地址
$("#btn5").click(function(){
	outCopyStr(randomAddress());
});
//公司名称
$("#btn6").click(function(){
    outCopyStr(randomCompanyNames());
});

//随机社会统一代码
$("#btn7").click(function(){
    outCopyStr(randomUnifySocialCreditCodes());
});
//工商注册号
$("#btn8").click(function(){
    outCopyStr(randomBusinessRegistrationNumber());
});

//随机随机数
$("#btn9").click(function(){
	outCopyStr(randomNum(10));
});

//随机批示意见
$("#btn10").click(function(){
	outCopyStr(randomPishi());
});

//输入框内容+时间戳
$("#btnRandomTime").click(function(){
	var item=$("#input1").val()+new Date().getTime();
	outCopyStr(item);
});

//输入框内容+日期时间
$("#btnRandomDate").click(function(){
	var item=$("#input1").val()+formatTimestamp();
	outCopyStr(item);
});
//输入框内容+随机随机数
$("#btnRandomNumber").click(function(){
	var item=$("#input1").val()+randomNum(8);
	outCopyStr(item);
});

//输入框内容+随机随机数
$("#commonCopy").click(function(){
	var item=$("#input2").val();
	outCopyStr(item);
});

//----------二维码--------------

var qrcode = new QRCode(document.getElementById("creatQrCode"), {
	width : 200,
	height : 200
});

function makeCode () {
	var elText = document.getElementById("inputQrContent");
	
	if (!elText.value) {
		alert("Input a text");
		elText.focus();
		return;
	}
	
	qrcode.makeCode(elText.value);
}

$("#inputQrContent").
	on("blur", function () {
		makeCode();
	}).
	on("keydown", function (e) {
		if (e.keyCode == 13) {
			makeCode();
		}
	});
//----------二维码--------------
function cc(){
//下载文件
<!-- download('hello.txt','This is the content of my file ?'); -->
//http://www.kenshuzw.com/xiaoshuo/2448/6956271/
    alert("段落被点击了。"+item);

var timestamp3 = new Date().getTime();
}

</script>

</body>
</html>
